.App {
  display: flex;
  padding: 25px;
}
.buttons{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.right-side {
  margin-left: 15px;
}

.left-side {
  width: 50%;
}

.select-companies {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 50%;
  border: 1px solid #E8EAED;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098A9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}